#about-page {
    background: linear-gradient(135deg, #fff, #333333a4);
    width: 100%;
}

#about-body {
    padding: 2rem;
    text-align: center;
    min-height: 100vh;
}

#about-body h2 {
    margin: 2rem 0;
    font-size: 3rem;
    text-decoration: underline;
    color: #8ea1df;
    text-shadow: -1.5px 1.5px 4px black;
}

#about-body p {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
}

#about-body ul {
    list-style: none;
}

#about-body li {
    margin-bottom: 1rem;
}

#about-body li h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 1024px) {
    #about-body p {
        width: 90%;
    }
}
