#contact-page {
    background: linear-gradient(135deg, #fff, #333333a4);
    width: 100%;
    min-height: 100vh;
}

#contact-header {
    padding: 1rem;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 2px #8ea1df;
}

#contact-message {
    width: 50%;
    padding: 0.8rem 0;
    margin: 1rem auto;
    text-align: center;
    border: #333 solid 0.1rem;
    border-radius: 0.24rem;
    display: none;
}

#contact-body {
    padding-top: 6rem;
    text-align: center;
}

/* #contact-form {
    border: #444444 solid 2px;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px #8ea1df;
    padding: 1rem;
    height: 100%;
} */

#contact-form input {
    width: 30%;
    height: 3vh;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    box-shadow: 4px 4px 4px #8ea1df;
    border: none;
    border-radius: 0.4rem;
}

#contact-form #message-input {
    width: 33%;
    box-shadow: 4px 4px 4px #8ea1df;
    border: none;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    text-align: left;
}

#contact-form #submit-input {
    width: 33%;
    height: 2.5vh;
    padding-bottom: 2.5rem;
    cursor: pointer;
    background-color: #8ea1df;
    border: none;
    box-shadow: 4px 4px 4px #333;
}

@media (max-width: 1024px) {
    #about-body p {
        width: 90%;
    }

    #contact-form input {
        width: 80%;
    }

    #contact-form #message-input {
        width: 90%;
    }

    #contact-form #submit-input {
        width: 90%;
    }
}
